page-home {
 text-align: center;
 height: 20px;
 width: 100%;
}
nav{
	font-weight:bold; box-shadow:0 0 6px #5a5a5a;
	margin-left:55px;
	margin-right:55px;
	position:absolute; bottom:190px;
	background: #0e0e0e;
  height: 270px;
  width: 250px;
  color:#ffff00;
  text-align:center;
}
